# mac junk
.DS_Store


# Micosoft stuff
.mono/
Microsoft\\VisualStudio\ Services/
NuGet/
stetic/
xbuild/

# node stuff - I don't know what this does...
configstore/update-notifier-npm.json


# QT stuff
QtProject/

# fish stuff
fish/fish_variables
# don't need fundle as it gets installed via `fundle install`
fish/fundle/
